AppKit==0.2.8
asgiref==3.8.1
awscrt==0.20.10
Brotli==1.1.0
brotlicffi==1.1.0.0
cairosvg==2.7.1
chardet==5.2.0
contextlib2==21.6.0
cryptography==42.0.7
Cython==3.0.10
dl==0.1.0
docutils==0.21.2
gitdb_speedups==0.1.0
h2==4.1.0
hypothesis==6.102.6
jieba==0.42.1
jnius==1.1.0
Pillow==10.3.0
pip==24.0
pyodide==0.0.2
pytest==8.2.1
python-dotenv==1.0.1
pytidylib==0.3.2
sets==0.3.2
simplejson==3.19.2
Sphinx==7.3.7
trove_classifiers==2024.5.22
usercustomize==1.0.0
win_inet_pton==1.1.0
zstandard==0.22.0
